table{
    width: 100%;
}

table,td,th{
    border : 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}

.table-name{
    text-align: center;
}


.highlight{
    background-color:rgb(233, 230, 230);
}

.text-bold{
    font-weight: bold;
}

